<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Dispositivos</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>

<body>
    <script>
        var contadores = {
            Ranger: 0,
            Fortaleza: 0
        }

        var Nueva_Miranda = [
            [
                [10.728943601594933, -71.51505768299104],
                [10.725947885615081, -71.51666164398195],
                [10.725865531006994, -71.5164738893509],
                [10.726413024020601, -71.51434421539308],
                [10.728753858423667, -71.51440322399141]

            ],
            [
                [10.728759129068917, -71.51440858840944],
                [10.726424224228344, -71.51434421539308],
                [10.727230638095941, -71.51145279407503],
                [10.72766810354284, -71.51040673255922],
                [10.728337477158336, -71.51076614856721],
                [10.728785482293816, -71.51075005531312],
                [10.728817106160655, -71.51252567768098]
            ],
            [

                [10.731162533731943, -71.51081979274751],
                [10.728806564872064, -71.51080906391145],
                [10.728785482293816, -71.51075005531312],
                [10.728331547674161, -71.51075005531312],
                [10.72766810354284, -71.51040136814119],
                [10.72823206408884, -71.50926411151887],
                [10.73113552188875, -71.50929093360902]
            ],
            [
                [10.73118361614446, -71.5139150619507],
                [10.728938330952891, -71.51505768299104],
                [10.728774941004131, -71.51440858840944],
                [10.728822376804796, -71.51250422000886],
                [10.731173074938386, -71.51248276233675]
            ],
            [
                [10.73116780433521, -71.51247739791872],
                [10.728822376804796, -71.5125095844269],
                [10.728806564872064, -71.51082515716554],
                [10.731162533731943, -71.51082515716554]
            ],
            [
                [10.729976645660807, -71.50927484035493],
                [10.728237334743197, -71.50926411151887],
                [10.729259839949101, -71.50726318359376],
                [10.73056, -71.50778]
            ],
            [
                [10.73365485999956, -71.5126919746399],
                [10.731177686716086, -71.51392579078676],
                [10.731188886747358, -71.51248276233675],
                [10.731162533731943, -71.51056230068208],
                [10.73361, -71.51056]
            ],
            [
                [10.73361, -71.51056],
                [10.731173074938386, -71.51056230068208],
                [10.731146721921585, -71.50929093360902],
                [10.73167, -71.50750],
                [10.73278, -71.50722],
                [10.73333, -71.50778]
            ],
            [
                [10.73583, -71.51139],
                [10.73472, -71.51194],
                [10.73361, -71.51056],
                [10.733476319731619, -71.50917291641237],
                [10.73444, -71.50917],
                [10.73500, -71.50944]
            ],
            [
                [10.73679768537853, -71.50767520179957],
                [10.73556, -71.50861],
                [10.73583, -71.50944],
                [10.735098989950595, -71.50967717170717],
                [10.73500, -71.50944],
                [10.73444, -71.50917],
                [10.733475660911255, -71.50917291641237],
                [10.73333, -71.50778],
                [10.73417, -71.50667]
            ]
        ]
        var Salinas = [
            [
                [10.704981655627414, -71.52071714401247],
                [10.703317314120493, -71.5195155143738],
                [10.703153910344513, -71.51787936687471],
                [10.703074185083144, -71.51787400245668],
                [10.704434123860084, -71.51787936687471]
            ],
            [
                [10.704444007113741, -71.51788473129274],
                [10.703074185083144, -71.51787400245668],
                [10.702942407745622, -71.51556730270387],
                [10.704017709146244, -71.51556193828584]
            ],
            [
                [10.704028251297961, -71.51556730270387],
                [10.702942407745622, -71.51556193828584],
                [10.702895626777032, -71.51371121406557],
                [10.70417, -71.51444]
            ],
            [
                [10.70528, -71.51667],
                [10.704233823183062, -71.51667237281801],
                [10.704038793449309, -71.51556730270387],
                [10.70417, -71.51444],
                [10.70528, -71.51472]
            ],
            [
                [10.705267610453257, -71.5147089958191],
                [10.704171229194346, -71.51442468166353],
                [10.7046136, -71.5088206],
                [10.7062558, -71.5089226]
            ],
            [
                [10.703232976698741, -71.51854991912843],
                [10.70277439155722, -71.51852846145631],
                [10.702748036068225, -71.51932775974275],
                [10.700945315183622, -71.5192633867264],
                [10.70087151936349, -71.51795446872713],
                [10.703151814457945, -71.51788644194623]
            ],
            [
                [10.703065426435328, -71.5178743063387],
                [10.70087151936349, -71.51793837547304],
                [10.700850434840154, -71.51697278022768],
                [10.70079057319748, -71.51556402035999],
                [10.702959788161975, -71.51556090361966]
            ],
            [
                [10.70292725334813, -71.51554584503175],
                [10.700802994657282, -71.51554048061372],
                [10.70067356922761, -71.51482609002497],
                [10.700833, -71.514167],
                [10.702370850860248, -71.5130259756141],
                [10.702895626777032, -71.51371121406557]
            ],
            [
                [10.700952987961205, -71.51926901507561],
                [10.694177109549791, -71.51956915855409],
                [10.694167, -71.5175],
                [10.697186976653462, -71.51748776435853],
                [10.697186976653462, -71.51694595813753],
                [10.700850434840154, -71.51690840721132]
            ],
            [
                [10.700839892577934, -71.51690840721132],
                [10.698991673051324, -71.51692718696789],
                [10.698889, -71.514722],
                [10.70067121633258, -71.51482701301576],
                [10.700806418785469, -71.51554904685884]
            ],
            [
                [10.70067121633258, -71.51482164859773],
                [10.698889, -71.514722],
                [10.698763059772345, -71.51256322860719],
                [10.699444, -71.511667],
                [10.701110707924995, -71.51395243435859],
                [10.700839892577934, -71.51417255401613]
            ],
            [
                [10.702363245668131, -71.51302456855775],
                [10.701113991276513, -71.5139526128769],
                [10.699448310747535, -71.51166737079622],
                [10.701941556997552, -71.5113937854767]
            ],
            [
                [10.701944, -71.511389],
                [10.699437768436574, -71.51167273521425],
                [10.699469395368375, -71.50872230529787],
                [10.703001048667899, -71.50872230529787]
            ],
            [
                [10.698994991044987, -71.51692986488344],
                [10.697180752321575, -71.51695147205312],
                [10.697107908722735, -71.51473045349123],
                [10.698889, -71.514722]
            ],
            [
                [10.698889, -71.514722],
                [10.697102637526614, -71.5147250890732],
                [10.697028840771374, -71.51259005069734],
                [10.698757788605002, -71.51256859302522]
            ],
            [
                [10.699444, -71.511667],
                [10.698747246270022, -71.51256322860719],
                [10.697787892253483, -71.51259005069734],
                [10.697778, -71.511111],
                [10.697292400529058, -71.50867938995363],
                [10.69947466652437, -71.50872766971561]
            ],
            [
                [10.697222, -71.5175],
                [10.695447477416176, -71.51748776435853],
                [10.69536840903203, -71.51477336883546],
                [10.697107908722735, -71.51473045349123]
            ],
            [
                [10.697092095134105, -71.5147250890732],
                [10.695373680258278, -71.51477336883546],
                [10.695226085888613, -71.51373803615571],
                [10.695120661294887, -71.51265978813173],
                [10.696174905583478, -71.51257932186128],
                [10.69703411196878, -71.51259005069734]
            ],
            [
                [10.697787892253483, -71.51257395744325],
                [10.696153835975403, -71.51256859114558],
                [10.695125932525434, -71.51266515254976],
                [10.694988880501196, -71.51116847991945],
                [10.69777734988479, -71.51147961616518]
            ],
            [
                [10.697772078700309, -71.51146888732912],
                [10.69499415173406, -71.51114702224733],
                [10.694167, -71.511111],
                [10.694722, -71.509444],
                [10.696111, -71.508611],
                [10.697292400529058, -71.50868475437166],
                [10.69777734988479, -71.51110410690309]
            ],
            [
                [10.695431964665856, -71.51746630469286],
                [10.694166567055618, -71.5174984931946],
                [10.694167, -71.513611],
                [10.69521554343089, -71.51360392570497],
                [10.695373680258278, -71.5147787332535],
            ],
            [
                [10.695210272201882, -71.51359856128694],
                [10.694167, -71.513611],
                [10.694167, -71.511111],
                [10.694988880501196, -71.51116847991945],
                [10.695120661294887, -71.51265978813173]
            ],
            [
                [10.69417, -71.51556],
                [10.692174029311182, -71.51555120939426],
                [10.692131858822039, -71.513609290123],
                [10.69417, -71.51361]
            ],
            [
                [10.69417, -71.51361],
                [10.692131858834278, -71.51360929011696],
                [10.691984262875394, -71.51169419288637],
                [10.692089688558907, -71.51070713996889],
                [10.69417, -71.51111]
            ],
            [
                [10.692521933478337, -71.5196979045868],
                [10.68985465622669, -71.51981592178346],
                [10.689158840914638, -71.51777744293214],
                [10.69194, -71.51639]
            ],
            [
                [10.692174029079332, -71.51554584503175],
                [10.691947364284879, -71.51638805860512],
                [10.691736512374971, -71.51648461818696],
                [10.69139, -71.51444],
                [10.692131858822039, -71.51444077491762],
            ],
            [
                [10.69116194128706, -71.5167796611786],
                [10.690666438741358, -71.51704251766206],
                [10.68972, -71.51639],
                [10.68972, -71.51472],
                [10.69056, -71.51500]
            ]






        ]
        
        var Guarico = [
            [
                [10.730546531342208, -71.5174984931946],
                [10.72806, -71.51917],
                [10.726372176200591, -71.51858210563661],
                [10.72639, -71.51806],
                [10.728954801708952, -71.51506304740907]
            ],
            [
                [10.72639, -71.51806],
                [10.72639, -71.51806],
                [10.726372176200591, -71.51857137680055],
                [10.72454851306814, -71.51982665061952],
                [10.723541804143878, -71.5176433324814],
                [10.725871460539524, -71.51647925376894]
            ],
            [
                [10.731263334003495, -71.51850163936616],
                [10.73056, -71.52028],
                [10.72917, -71.52083],
                [10.728917907214115, -71.52090489864351],
                [10.728575315261448, -71.52038455009462],
                [10.72833, -71.52028],
                [10.72806, -71.51917],
                [10.73056, -71.51750],
                [10.73111, -71.51833]
            ],
            [
                [10.733540225300898, -71.51791691780092],
                [10.731273875206426, -71.5185070037842],
                [10.73111, -71.51833],
                [10.73056, -71.51750],
                [10.73139, -71.51667],
                [10.733445355172583, -71.5172302722931]
            ],
            [
                [10.729755938200865, -71.52183294296266],
                [10.728443549022446, -71.52268052101137],
                [10.728301241419844, -71.52235865592958],
                [10.728269617499063, -71.52201533317567],
                [10.728290700113277, -71.52125895023347],
                [10.728332865337318, -71.52029871940614],
                [10.728353947947143, -71.52029871940614],
                [10.728585856558079, -71.52039527893068],
                [10.728575315261448, -71.52038991451265],
                [10.728902095286394, -71.52091026306154],
                [10.729049673246418, -71.5208673477173]
            ],
            [
                [10.734905297739243, -71.51955842971803],
                [10.734241209215025, -71.52065277099611],
                [10.733930246626684, -71.52032554149629],
                [10.732992086370754, -71.52098536491395],
                [10.731268604605006, -71.51851236820222],
                [10.73355076642443, -71.51792764663698]
            ],
            [
                [10.73778, -71.52917],
                [10.73694, -71.53000],
                [10.73361, -71.52750],
                [10.73889, -71.52306]
            ],
            [
                [10.738895068705936, -71.52307748794557],
                [10.73361, -71.52750],
                [10.732633687302076, -71.52687549591066],
                [10.735627360589845, -71.52363538742067],
                [10.73747203887027, -71.5217685699463],
                [10.739242919424084, -71.52130722999574]
            ],
            [
                [10.73549032689681, -71.52891397476198],
                [10.733761588817837, -71.5297293663025],
                [10.733129121196473, -71.52948796749116],
                [10.73210135848932, -71.52901589870454],
                [10.733524413614912, -71.52745485305788],
                [10.73360874259728, -71.52749776840211]
            ],
            [
                [10.733508601928113, -71.52745485305788],
                [10.732106629076211, -71.52902126312257],
                [10.731574299335342, -71.52883350849153],
                [10.73134766361663, -71.52816832065584],
                [10.73083, -71.52778],
                [10.73194, -71.52639]
            ],
            [
                [10.736660381814271, -71.52261614799501],
                [10.7344256783959, -71.52496576309206],
                [10.731969593786971, -71.52268052101137],
                [10.73301316865568, -71.52098536491395],
                [10.733932028008608, -71.52033338021035],
                [10.734246479764616, -71.52066349983217]
            ],
            [
                [10.734415137302875, -71.52496576309206],
                [10.732633687302076, -71.52684330940248],
                [10.731410910811027, -71.52607619762422],
                [10.73194, -71.52444],
                [10.732275287808477, -71.52295947074892]
            ],
            [
                [10.731937970249867, -71.52640342712404],
                [10.73083641497607, -71.52778208255769],
                [10.728849388854638, -71.5263068675995],
                [10.730420036578504, -71.5253520011902]
            ],
            [
                [10.732275287808477, -71.52295947074892],
                [10.731932699660021, -71.52446150779726],
                [10.731426722607567, -71.52604401111604],
                [10.730425307194722, -71.52535736560823],
                [10.729197251134421, -71.5240001678467],
                [10.73146361679627, -71.52165055274965],
                [10.731974864376179, -71.52268052101137]
            ],
            [
                [10.73146361679627, -71.52165055274965],
                [10.729197251134421, -71.52402162551881],
                [10.728438278371689, -71.52268052101137],
                [10.72976647945634, -71.52185440063478],
            ],
            [
                [10.73583, -71.51833],
                [10.734905297739243, -71.51955842971803],
                [10.73355076642443, -71.51792764663698],
                [10.73345062573604, -71.5172302722931],
                [10.73583, -71.51639]
            ]

        ]
        var Casco_Central_1 = [
            [
                [10.72435876713965, -71.5194082260132],
                [10.72279862943802, -71.52055621147157],
                [10.722482384328673, -71.52085661888124],
                [10.721470397757654, -71.51870012283327],
                [10.72357869929447, -71.51763796806337]
            ],
            [
                [10.72306216677665, -71.52281999588014],
                [10.720869529129834, -71.52329742908479],
                [10.72056, -71.52194],
                [10.72222, -71.52111],
                [10.72278, -71.52056]
            ],
            [
                [10.72247184281934, -71.5208673477173],
                [10.722208304966541, -71.52110874652864],
                [10.72056, -71.52194],
                [10.71944, -71.51972],
                [10.721470397757654, -71.5186893939972]
            ],
            [
                [10.720880070694978, -71.52329742908479],
                [10.71906470310905, -71.52370530105131],
                [10.71851875092943, -71.52390897274019],
                [10.717195771312637, -71.52460098266603],
                [10.716667, -71.524167],
                [10.720556, -71.521944]
            ],
            [
                [10.720556, -71.521944],
                [10.717965313944603, -71.5234261751175],
                [10.716721394742974, -71.52117848396303],
                [10.719444, -71.519722]
            ],
            [
                [10.720556, -71.519167],
                [10.718371167832416, -71.52030408382417],
                [10.716944, -71.517222],
                [10.719003666312997, -71.51602864265443]
            ],
            [
                [10.718355355353468, -71.5203094482422],
                [10.716542185623213, -71.52128040790559],
                [10.715456386923348, -71.51897907257081],
                [10.717359167514507, -71.51812613010408]
            ],
            [
                [10.717970584777797, -71.52343153953554],
                [10.715883327653366, -71.52458488941194],
                [10.714722, -71.522222],
                [10.716726665597834, -71.52116775512697]
            ],
            [
                [10.717195771312637, -71.52460634708406],
                [10.712246405861508, -71.52717590332033],
                [10.712077735965012, -71.52683258056642],
                [10.71401743410335, -71.52541637420656],
                [10.714697379694648, -71.52506232261659],
                [10.715872785914192, -71.524595618248],
                [10.716667, -71.524167]
            ],
            [
                [10.7165052896148, -71.52125358581544],
                [10.714022705005283, -71.5226322412491],
                [10.712778, -71.520556],
                [10.715461657800219, -71.51897907257081]
            ],
            [
                [10.715883327653366, -71.52457952499391],
                [10.713922557852964, -71.52549147605897],
                [10.712546848881978, -71.52337253093721],
                [10.714722, -71.522222]
            ],
            [

                [10.713922557852964, -71.52548074722291],
                [10.712077735965012, -71.52683258056642],
                [10.710601870364073, -71.5242898464203],
                [10.712552119809494, -71.52335643768312]
            ],
            [
                [10.713975266884631, -71.52261614799501],
                [10.712541577954358, -71.52332425117494],
                [10.711508474370854, -71.52129650115968],
                [10.712778, -71.520556]
            ],
            [
                [10.712583745372715, -71.52334570884706],
                [10.710601870364073, -71.5242898464203],
                [10.709722, -71.522222],
                [10.71154010004304, -71.52130722999574]
            ],
            [
                [10.712246633276003, -71.52718249257791],
                [10.709758515363614, -71.52845263481142],
                [10.708103424350522, -71.52926266193391],
                [10.707982191213922, -71.52860820293428],
                [10.709444, -71.527778],
                [10.712083006900684, -71.52683258056642]
            ],
            [
                [10.709444, -71.527778],
                [10.707976920206878, -71.52860283851625],
                [10.7067224179237, -71.52846336364748],
                [10.705378302571473, -71.52765870094301],
                [10.704909178554958, -71.52611374855043],
                [10.708333, -71.525278]
            ],
            [
                [10.708333, -71.525278],
                [10.704903907494469, -71.52611374855043],
                [10.707112473811812, -71.52352809906007]
            ],
            [
                [10.712077735965012, -71.52684330940248],
                [10.709452798596153, -71.52778744697572],
                [10.708335348476687, -71.52527689933778],
                [10.710612412286714, -71.5242898464203]
            ],
            [
                [10.710622954208997, -71.5242898464203],
                [10.708335348476687, -71.52527689933778],
                [10.707133557899565, -71.52354955673219],
                [10.708407475002312, -71.52260632062041],
                [10.70972688950543, -71.5222191810608]
            ]
        ]
        var Casitas_Cementerio = [
            [
                [10.714091226722012, -71.50553584098817],
                [10.7125, -71.506389],
                [10.711634977039802, -71.50452196598054],
                [10.713333, -71.503611]
            ],
            [
                [10.7125, -71.506389],
                [10.711111, -71.507222],
                [10.710833, -71.504722],
                [10.711629706096305, -71.50452196598054]
            ]
        ]
        var Ballena = [
            [
                [10.722218846485074, -71.50193095207216],
                [10.721670687035136, -71.50196313858034],
                [10.720516386484912, -71.50047719478609],
                [10.720000, -71.498611],
                [10.721389, -71.499167],
                [10.722500, -71.499722]
            ],
            [
                [10.720516386484912, -71.50048792362215],
                [10.720131618656438, -71.50098681449892],
                [10.718966770604599, -71.50203824043275],
                [10.718281563774122, -71.50065422058107],
                [10.720000, -71.498611]
            ],
            [
                [10.717938959777218, -71.50330424308778],
                [10.717517292787207, -71.50353491306306],
                [10.7169, -71.503],
                [10.7156, -71.503],
                [10.7156, -71.5017],
                [10.7178, -71.5017],
                [10.718676875596387, -71.5014696121216],
                [10.718961499788733, -71.50204896926881]
            ]
        ]
        var San_Crispulo = [
            [
                [10.720679780894233, -71.51093244552614],
                [10.718149793051976, -71.51073932647706],
                [10.718423876089608, -71.50915145874025],
                [10.720901153824189, -71.50916218757631]
            ],
            [
                [10.720906424606278, -71.50916218757631],
                [10.718887708357169, -71.50915145874025],
                [10.719019478758078, -71.50752604007722],
                [10.719372623149635, -71.50647997856142],
                [10.72174447778816, -71.5072524547577]
            ],
            [
                [10.72174447778816, -71.50725781917573],
                [10.719372623149635, -71.50649070739748],
                [10.719722, -71.505278],
                [10.722222, -71.506111]
            ],
            [
                [10.719372623149635, -71.50649070739748],
                [10.71700074992397, -71.50582551956178],
                [10.7175, -71.503611],
                [10.718611, -71.503889],
                [10.719722, -71.505278]
            ],
            [
                [10.718961499788733, -71.50821805000307],
                [10.71634716381353, -71.50783717632295],
                [10.717006020773972, -71.50583624839784],
                [10.719367352340853, -71.50649070739748],
                [10.719024749572927, -71.50753140449525]
            ],
            [
                [10.7181, -71.5094],
                [10.715957119817284, -71.50911390781404],
                [10.716183767065457, -71.50833070278169],
                [10.716357705536177, -71.50783717632295],
                [10.718213043005758, -71.50811076164247]
            ],
            [
                [10.718887708357169, -71.50914609432222],
                [10.71843441773994, -71.50915145874025],
                [10.71837643865855, -71.50943577289583],
                [10.718091813916057, -71.50939822196962],
                [10.718102355577944, -71.50939822196962],
                [10.71821831383464, -71.50812149047853],
                [10.718956228972802, -71.5082234144211]

            ],
            [
                [10.71816560554165, -71.5106374025345],
                [10.7156, -71.5106],
                [10.715967661553519, -71.50911390781404],
                [10.71837643865855, -71.50943577289583]
            ],
            [
                [10.7183, -71.5114],
                [10.7169, -71.5122],
                [10.7161, -71.5125],
                [10.7156, -71.5125],
                [10.7156, -71.5106],
                [10.71817087637137, -71.5106374025345],
                [10.718149793051976, -71.5107446908951]
            ],
            [
                [10.7156, -71.5125],
                [10.7139, -71.5128],
                [10.715, -71.5108],
                [10.7156, -71.5108]
            ],
            [
                [10.715582887943153, -71.51079297065736],
                [10.715008362053151, -71.51078760623933],
                [10.714143935724318, -71.51082515716554],
                [10.71415974842322, -71.50807321071626],
                [10.716278642607332, -71.50810539722444],
                [10.715957119817284, -71.50911390781404],
                [10.715598700566918, -71.51060521602632]
            ],
            [
                [10.717011291623871, -71.50582551956178],
                [10.7153, -71.5056],
                [10.715, -71.5047],
                [10.717512021946112, -71.50353491306306]
            ]
        ]
        var excepciones = [
            [
                [10.7032939, -71.5195100],
                [10.7027535, -71.5193352], //Esquina inferior izquierda
                [10.7027738, -71.5185308], //Esquina inferior derecha
                [10.7031950, -71.5185576], //esquina Superior derecha
            ]
        ];
        //De aqui nos traemos todos los equipos registrados en la base de datos
        var dispositivos = JSON.parse('<%-(dispositivos) %>');
        var map;

        var marcadores = [];

        document.addEventListener('DOMContentLoaded', () => {
    
            map = L.map('map').setView([10.719891, -71.515795], 16);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '© <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

            pintarZona(Nueva_Miranda)
            pintarZona(Salinas)
            pintarZona(Guarico)

            pintarZona(Casco_Central_1)
            pintarZona(Casitas_Cementerio)
            pintarZona(Casitas_Cementerio)
            pintarZona(San_Crispulo)


            //Obtener coordenadas al hacer click
            map.on('click', function (e) {
                var clickedLatLng = e.latlng;
                console.log([clickedLatLng.lat, clickedLatLng.lng]);
            });

            setInterval(() => {
                ejecutar();
                //console.log(`se pinto el mapa a las ${obtenerHoraActual()}`)
            }, 300000);
        });
        function ejecutar() {
            // Eliminamos los marcadores existentes
            marcadores.forEach(marcador => {
                map.removeLayer(marcador);
            });
            marcadores = []; // Limpiamos la lista de marcadores

            dispositivos.forEach(dispositivo => {
                realizarPeticion(dispositivo.id_dispositivo, dispositivo.vehiculo);

            });
        }
        function realizarPeticion(id_dispositivo, vehiculo) {
            const url = `http://localhost:3000/api/dispositivo/${id_dispositivo}`;
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    let datos = JSON.parse(data);
                    //console.log(datos)
                    if (datos.latitude && datos.longitude) {
                        let lat = parseFloat(datos.latitude);
                        let lng = parseFloat(datos.longitude);

                        var currentMarker = L.marker([lat, lng]).addTo(map);
                        marcadores.push(currentMarker); // Agregamos el nuevo marcador a la lista

                        fetch(`http://localhost:3000/verificar-zona/${id_dispositivo}`)
                            .then(response => response.json())
                            .then(data => {
                                let zona_asignada = data.zona;

                                if (zona_asignada != "null") {
                                    let coordenadasZona = zona(zona_asignada)
                                    var zonaPolygon = L.polygon(coordenadasZona)
                                    // Verificar si el marcador está dentro del polígono
                                    if (zonaPolygon.getBounds().contains(currentMarker.getLatLng())) {
                                        (contadores[vehiculo]) = 0
                                        console.log(`El vehiculo ${vehiculo} está dentro de la zona ${zona_asignada}`);
                                    } else {
                                        contadores[vehiculo] = contadores[vehiculo] + 1

                                        console.log(`El vehiculo ${vehiculo} está fuera de la zona ${zona_asignada}`);
                                        if (contadores[vehiculo] % 3 === 0) {
                                            
                                            //enviarMensajeDiscord(`El vehiculo  ${vehiculo} está fuera de la zona ${zona_asignada}`, `hay ${contadorFortaleza} muestras fuera de su zona asignada`, "https://discord.com/api/webhooks/1267911462861406248/PHWOzhTiiCBv2nIbUKGRUq03GfFWCEGG1tYygnQcYvYl2tfideQfVDeDOpjWzn0WNBVq");
                                            console.log(`total de muestras ${contadores[vehiculo]}`)
                                        }
                                    }
                                }

                            })
                            .catch(error => console.error('Error:', error));

                    }
                })
                .catch(error => console.error('Error:', error));
        }

        function pintarZona(zona) {
            for (element in zona) {
                L.polygon(zona[element], { color: 'red' }).addTo(map)
            }
        }

        function zona(zonaasignada) {
            switch (zonaasignada) {
                case 'Nueva_Miranda':
                    return Nueva_Miranda;
                    break;
                case 'Salinas':
                    return Salinas;
                    break;
                case 'Guarico':
                    return Guarico;
                    break;
                case 'Casco_Central_1':
                    return Casco_Central_1;
                    break;
                case 'Ballena':
                    return Ballena;
                    break;
                case 'Guarico':
                    return Casitas_Cementerio;
                    break;
                case 'Casco_Central_1':
                    return San_Crispulo;
                    break;
                default:
                    break;
            }
        }
        function enviarMensajeDiscord(titulo, mensaje, webhookurl) {
            const json_data = {
                content: null,
                username: "SapoBot",
                avatar_url: "https://pbs.twimg.com/media/DZlSgoJWkAAc8HS?format=jpg&name=360x360",
                embeds: [
                    {
                        title: titulo,
                        description: mensaje,
                        color: 5375,
                        timestamp: new Date().toISOString()
                    }
                ]
            };

            fetch(webhookurl, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(json_data)
            })
                .then(response => response.text())
                .then(result => {
                    console.log("Mensaje enviado correctamente:", result);
                })
                .catch(error => {
                    console.error("Error al enviar el mensaje:", error);
                });
        }

        // Ejemplo de uso:


    </script>


    <div id="map"></div>

    <style>
        #map {
            height: 800px;
            width: 100%;
        }
    </style>

</body>

</html>